<div style="padding-top:50px;">
<p>DWELLING COUNT: <%=@dwellings.count%></p>
	<%@dwellings.each do |d|%>
	<p>DWELLING ID: <%=d.id%></p>
	<p><%=d.try(:address).inspect%></p>
	<p>FLOOR PLAN COUNT: <%=d.floor_plans.count%></p>
	<p><%=d.floor_plans.first.inspect%></p>

	<%end%>
</div>
