<h1>Hello index for dwelling</h1>


<%= form_tag("/search", method: "get", remote: true, id: "search-form") do %>
	 <%= label_tag(:location, "Search for:") %>
  <%= text_field_tag(:location) %>


<%= hidden_field_tag('proximity_lower')%> 
<%= hidden_field_tag('proximity_higher')%> 

<%= hidden_field_tag('price_lower')%> 
<%= hidden_field_tag('price_higher')%> 

<%= label_tag(:bedrooms, "bedrooms") %>
<%= select_tag(:bedrooms, options_for_select([['All', nil], ['1+', 1], ['2+', 2], ['3+', 3], ['4+', 4]], 0)) %>
<%= label_tag(:baths, "bathrooms") %>
<%= select_tag(:baths, options_for_select([['All', nil], ['1+', 1], ['2+', 2], ['3+', 3], ['4+', 4]], 0)) %>
<%= label_tag(:occupants, "occupants") %>
<%= select_tag(:occupants, options_for_select([['All', nil], ['1+', 1], ['2+', 2], ['3+', 3], ['4+', 4]], 0)) %>



  <%= submit_tag("Find", class: 'btn btn-warning', id: 'dwelling_search_form') %>
<%end%>

<div style="padding:20px 10%;">
<div id="monthly_payment" class="w-80-p c-w-m"></div>
<span class="example-val" id="slider-snap-value-lower"></span>
<span class="example-val" id="slider-snap-value-upper"></span>
</div>
<div style="padding:20px 10%;">
<div id="nonlinear" class="w-80-p c-w-m"></div>
<span class="example-val" id="slider-snap-value-lower_1"></span>
<span class="example-val" id="slider-snap-value-upper_2"></span>
</div>

<div style="padding-top:50px;">
<p><%=@dwellings.inspect%></p>
</div>
<div id="items_list">
<%= render partial: "dwellings_list", locals: {dwellings: @dwellings} %>
</div>