<h1>Hello single dwelling</h1>
<p><%=@dwelling.inspect%></p>

<p><%=@dwelling.try(:address).inspect%></p>
<p><%=@dwelling.floor_plans.first.inspect%></p>
<p><%=@dwelling.amenities.first.inspect%></p>
<p><%=@dwelling.dwelling_details.first.inspect%></p>