<h2>Single User</h2>
<% if user_signed_in? %>
<!-- <h1> -->
	Welcome <%=@user.email%>
<%end%>
<div class="user-profile">
	<div class="u_p_components">

		<div class="user_identification">
			<%=@user.inspect%>
		</div>
		<div class="user_persona">
			<%=@user.gender%>
			<%=@user.ethnicity%>
		</div>
		<div class="contact_information">
			
		</div>
	</div>
</div>
	<p><%=@user.addresses.first.inspect%></p>
	<p><%=@user.gender.inspect%></p>
	<%if @user.income_sources.exists?%>
		<p><%=@user.income_sources.inspect%></p>
	<%end%>

	<%if @user.household_members.exists? %>
		<%@user.household_members.each do |h_m| %>
				<p><%=h_m.inspect%></p>
				<%if h_m.income_sources.exists?%>
					<%h_m.income_sources.each do |inc_s|%>
						<p><%=inc_s.inspect%></p><br>
						<p><%=inc_s.payment_period.inspect%></p><br>
					<%end%>
				<%end%>
				<p><%=h_m.household_relationship.inspect%></p>

						<p><%=h_m.gender.inspect%></p>


		<%end%>
	<%end%>
<!-- </h1> -->




<p>
	You are an admin:
</p>
<p>
	<%= @user.admin%>
</p>
