<!DOCTYPE html>
<html>
<head>
  <title>DwHousing</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
	<%= yield :javascript_includes %>

</head>


  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  
       
 <body class="fix-sidebar">
      <!-- Preloader -->
      <div class="preloader">
         <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
  </svg>
      </div>
  <%= yield%>











</body>
</html>
